#menu a[href$="/search/"] {
  font-size: 0;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  vertical-align: middle;

  background-color: currentColor;

  mask: url("/icons/search.svg") center / contain no-repeat;
  -webkit-mask: url("/icons/search.svg") center / contain no-repeat;
}

#menu a[href$="/search/"]:hover {
  color: var(--darkcolor);
}