/* SLASH PAGES
---------------------------*/
.post-content p.sp-h2 {
  font-weight: 700;
  font-size: 21px;
  margin: 0;
}

.post-content p.sp-h2 a svg {
  text-decoration: none;
  vertical-align: -0.1em;
}

.post-content p.sp-h2 a:hover svg {
  color: var(--darkcolor);
}
/*-------------------------*/

/* BLOGROLL
---------------------------*/
.post-content p.br-h2 {
  font-weight: 700;
  font-size: 21px;
  margin: 0;
}
/*-------------------------*/

/* 88X31
---------------------------*/

/* For toggling the views */
.panel {
  display: none;
}
.panel.active {
  display: block;
}