{{- define "main" }}

<header class="page-header">
    <h1 class="post-title-with-icon">
        {{- with .Params.icon_url -}}
        {{- $icon := . -}}
        {{- if or (hasPrefix $icon "http://") (hasPrefix $icon "https://") -}}
        <img class="post-title-icon" src="{{ $icon }}" alt="" aria-hidden="true">
        {{- else -}}
        <img class="post-title-icon" src="{{ $icon | relURL }}" alt="" aria-hidden="true">
        {{- end -}}
        {{- else with .Params.icon_svg -}}
        <span class="post-title-svg" aria-hidden="true">
            {{ partial (printf "icons/%s.html" .) . }}
        </span>
        {{- else with .Params.emoji -}}
        <span class="post-title-emoji" aria-hidden="true">{{ . }}</span>
        {{- end -}}
        <span>{{ .Title }}</span>
    </h1>
</header>

{{- if .Content }}
<div class="post-content">
    {{ .Content }}
</div>
{{- end }}

{{- end }}