{{ define "title" }}404{{ end }}
{{ define "main" }}
  <div class="not-found">
  <!--v1//
    <h1>Page not found</h1>
    <p>Sorry, the requested page could not be found.</p>
    <p>╮(￣ω￣;)╭</p>
  -->
  <!--v2 LIGHT//
    <img class="img-404" src="https://pub.jshmnrd.ca/images/jm-404-transparent.png">
    <h1>Page not found</h1>
    <p>Sorry, the requested page could not be found.</p>
  -->
  <!--v2 DARK//-->
    <img class="img-404" src="https://pub.jshmnrd.ca/images/jm-404-circle.png">
    <h1>Page not found</h1>
    <p>Sorry, the requested page could not be found.</p>
  </div>
{{ end }}
