.main {
    position: relative;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    max-width: calc(var(--main-width) + var(--gap) * 2);
    margin: auto;
    padding: var(--gap);
}

.page-header h1 {
    font-size: var(--h1size);
}

.pagination {
    display: flex;
}

.pagination a {
    color: var(--theme);
    font-size: 13px;
    line-height: 36px;
    background: var(--primary);
    border-radius: calc(36px / 2);
    padding: 0 16px;
}

.pagination .next {
    margin-inline-start: auto;
}

.social-icons a {
    display: inline-flex;
    padding: 10px 14px 10px 0px;
}

.social-icons a svg {
    height: 30px;
    width: 30px;
}

.social-icons a:hover {
    color: var(--darkcolor);
}

code {
    direction: ltr;
    font-family: 'Atkinson Hyperlegible Mono', monospace;
}

code {
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

div.highlight,
pre {
    position: relative;
}

.copy-code {
    display: none;
    position: absolute;
    top: 4px;
    right: 4px;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(78, 78, 78, 0.8);
    border-radius: var(--radius);
    padding: 0 5px;
    font-size: 14px;
    user-select: none;
}

div.highlight:hover .copy-code,
pre:hover .copy-code {
    display: block;
}

::selection { /* WebKit/Blink Browsers */
  background: var(--darkcolor);
  color: var(--lightcolor);
}
::-moz-selection { /* Gecko Browsers */
  background: var(--darkcolor);
  color: var(--lightcolor);
}

/* Notion-Like Callouts. Original: https://mighil.com/notion-like-callouts */
.callout {
    font-size:95%;
    padding: 16px;
    color: var(--content);
    background-color: var(--entry);
    border: 2px solid var(--border);
    border-radius: var(--radius);
}
a p.callout.rss {
    text-decoration:none;
}
.callout.rss {
    font-size:95%;
    padding: 16px;
    color: var(--content);
    background-color: var(--entry);
    border: 2px solid var(--border);
    border-radius: var(--radius);
}
.callout.rss:hover {
    border: 2px solid var(--darkcolor);
    cursor: pointer;
}
.callout button.copy-btn {
    background: var(--code-bg);
    border-radius: var(--radius);
    margin: 6px 12px 6px 0px;
    padding: 1px 7px 1px 7px;
}
.callout button.copy-btn:hover {
    background: var(--darkcolor);
}
.callout.green {
    color: var(--lightcolor); 
    border: 2px solid var(--bottle);
    background-color: var(--darkcolor);
}
.callout.grey {
    color: var(--content);
    border: 2px solid var(--primary);
    background-color: var(--gray);
}
.callout.black {
    color: var(--theme);
    border: 2px solid var(--border);
    background-color: var(--primary);
}
.callout.brown {
    color: #e8dbd1;
    border: 2px solid #16100b;
    background-color: #6f4e37;
}
.callout.orange {
    color: #ffe0cc;
    border: 2px solid #331400;
    background-color: #ff6600;
}
.callout.yellow {
    color: var(--primary);
    border: 2px solid #332c00;
    background-color: #ffdd00;
}
.callout.blue {
    color: #d9e1f9;
    border: 2px solid #081232;
    background-color: #4169e1;
}
.callout.purple {
    color: #ddd9f0;
    border: 2px solid #120e24;
    background-color: #5946b2;
}
.callout.pink {
    color: var(--primary);
    border: 2px solid #460427;
    background-color: #f77fbe;
}
.callout.red {
    color: #ffc0cf;
    border: 2px solid #270009;
    background-color: #c2002f;
}
.callout.lt-red {
    color: #270009;
    border: 2px solid #c2002f;
    background-color: #ffc0cf;
}

kbd {
  display: inline-block;
  padding: 0.15em 0.45em;
  border: 1px solid var(--border);
  border-radius: 0.3em;
  background: var(--primary);
  color: var(--code-bg);
  font-family: system-ui, sans-serif;
  font-size: 0.9em;
  line-height: 1;
  box-shadow: 0 2px 0 var(--secondary);
}

.tab {
    display: inline-block;
    margin-left: 20px;
}